
p{
    margin: 0%;
}
#bankButton{
    background-color: yellow;
    border-radius: 5px;
    width: 46%;
    padding-top: 4%;
    padding-bottom: 4%;
    border: none;

}
#loanButton{
    background-color:chartreuse;
    border-radius: 5px;
    width: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
    border: none;
}
#workButton{
    background-color: blue;
    color: white;
    border-radius: 5px;
    width: 46%;
    padding-top: 4%;
    padding-bottom: 4%;
    border: none;
}
.repayButton{
    background-color: coral;
    border-radius: 5px;
    width: 94%;
    padding-top: 4%;
    margin-top: 2%;
    padding-bottom: 4%;
    border: none;
}
.buyButton{
    background-color: turquoise;
    font-weight: bold;
    border-radius: 5px;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: none;

}
#buyButton{
    width: 25%;

}
img{
    float: left;
    padding: 5px;
    width: 150px;
}
.rightText{
    float: right;
    padding-left: 1%;
}
header{
    background-color: black;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 8%;
}
.flex-container {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        margin: 2% 7% 2%;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 10%;
    border-radius: 5px;
  }
  .flex-container-two {
    margin: 0 7% 0;
}
.flex-container-two > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 2% 5% 2%;
    border-radius: 5px;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  ul li {
    margin: 5px;
  }